.idea/
.vscode
.editorconfig
.env
.gitattributes
.gitignore
!/.gitignore
/bin/
/conf/
/docker/app/
/docker/web/
/mysql/
/patches/mh/
/private
/solr/
/vendor/
/web/core/
/web/libraries/
/web/modules/contrib/
/web/modules/mh/
/web/profiles/contrib/
/web/themes/contrib/
/web/themes/custom/*/dist/css/*.map
/web/themes/custom/*/dist/js/*.map
/web/themes/custom/*/dist/js/*.LICENSE.txt
/web/sites/default/files
/web/sites/simpletest
/.scannerwork
.scannerwork/
node_modules/
